fastapi==0.112.0
uvicorn[standard]
pydantic>=2.8.0,<2.10.0
pydantic-settings
gunicorn
slowapi
loguru
sqlalchemy
psycopg2-binary
pydantic[email]
python-multipart
python-dotenv
requests
beautifulsoup4
scikit-learn
redis
passlib[bcrypt]
python-jose[cryptography]
aiohttp
pymupdf
python-docx
